.create__section{

    margin :0px;

    div{
            display: flex;
            font-weight: bold;
            color: orange;
            justify-content: center;
            align-content: center;
            background-color: var(--color__secondary);
            margin-bottom: 15px;
            height: 48px;
            border: 2px solid var(--color__secondary);
            border-radius: 5px;
            width: 100%;
            -webkit-box-shadow: 1px 10px 25px 4px var(--color__shadow); 
            box-shadow: 1px 10px 25px 4px var(--color__shadow);
            p{
                margin:0;
                padding:0;
                align-self: center;
            }
    }

        input{
            color: var(--color__text);
            background-color: var(--color__secondary);
            margin-top: 15px;
            margin-bottom: 15px;
            height: 48px;
            border: 2px solid var(--color__secondary);
            border-radius: 5px;
            width: 100%;
            -webkit-box-shadow: 1px 10px 25px 4px var(--color__shadow); 
            box-shadow: 1px 10px 25px 4px var(--color__shadow);

            &:focus{
                box-shadow: none;
                outline: 3px solid var(--color__background-right);
                padding-left: 10%;
            }
        }
}