
$color__primary: rgb(241, 231, 231);
$color__secondary:rgb(255, 255, 255);

$color__text:rgb(63, 63, 63);

$color__background-left: rgba(207,55,212,0.65);
$color__background-right: rgba(0, 183, 255, 0.55);
$color__shadow:rgb(85, 85, 85);
$color__tic: rgb(255, 255, 255);


$color__primary--dark: rgb(26, 21, 21);
$color__secondary--dark:rgb(63, 63, 63);

$color__text--dark:rgb(187, 186, 186);

$color__background-left--dark: rgba(0, 0, 0, 0.692);
$color__background-right--dark: rgba(255, 60, 0, 0.55);
$color__shadow--dark:rgb(43, 43, 43);
$color__tic--dark: rgb(187, 186, 186);


@mixin haa1 ($color) {
    color: $color;
}