@use "./src/constants" as *;

.theme{
    --color__primary: #{$color__primary};
    --color__secondary: #{$color__secondary};
    --color__text: #{$color__text};
    --color__background-left: #{$color__background-left};
    --color__background-right: #{$color__background-right};
    --color__shadow: #{$color__shadow};
    --color__tic: #{$color__tic};
    &--dark{
        --color__primary: #{$color__primary--dark};
        --color__secondary: #{$color__secondary--dark};
        --color__text: #{$color__text--dark};
        --color__background-left: #{$color__background-left--dark};
        --color__background-right: #{$color__background-right--dark};
        --color__shadow: #{$color__shadow--dark};
        --color__tic: #{$color__tic--dark};
    }
}

main{
    z-index: -5;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color__primary);
        .dark-btn{
            background-color: transparent;
            border: 0px solid transparent;
            font-size: larger;
            color: var(--color__tic);
            padding-right: 20px;
        }
}

h1{
    @include haa1(var(--color__primary));
}

.content{
    z-index: 10;
    margin-top: 75px;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 50vh;
    width: 50%;
}

.backgroundImage{
    object-fit:scale-down;
    background-repeat: no-repeat;
    margin-top: 20%;
    margin:0px;
    height: 35vh;
    width: 100%;
    position:absolute;
    z-index: 1;
    background-image:url("./img/1-monte-everest.jpg") ;
    background-position: 50% 30%;
}

.backgroundDeg{
    margin:0px;
    height: 100%;
    width: 100%;
    position:relative;
    z-index: 7;
    background: var(--color__background-left);
background: linear-gradient(90deg, var(--color__background-left) 0%, var(--color__background-right) 100%);
}

